*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: rgba(146, 146, 165, 0.1);
}

header{
    width: 100%;
    height: 90px;    
    background-color: rgb(255, 255, 255);
}
header img{
    height: 60px;
    width: auto;
    margin: 10px 0 0 30px;
}
header h1{
    display: inline-block;
    font-size: 60px;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

.barra{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    
}
.button{
    width: 120px;
    height: 40px;
    background-color: green;
    margin-top: 20px;
    margin-left: 60px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.main{
   height: 1000px; 
   margin-top: 5px;
}
ul{
    display: inline-block;
}
ul li{
    list-style-type: none;
   
}
li{
    margin-top: 10px;
    margin-left: 60px;
}