*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(146, 146, 165, 0.1);
}

header{
    width: 100%;
    height: 90px;    
    background-color: blue;
}
header img{
    height: 60px;
    width: auto;
    margin: 10px 0 0 30px;
}
header h1{
    display: inline-block;
    font-size: 60px;
    font-family: 'Roboto Serif', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}